
body {
	font-family: 'Open Sans', sans-serif;
	color: #201b2d;
	font-size: 15px;
	padding: 0;
	margin: 0;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}





.contanier{
	width: 1170px;
	margin: 0 auto;
}

header{
	background: rgba(0,191,255,1);
	background: -moz-linear-gradient(-45deg, rgba(0,191,255,1) 0%, rgba(55,144,217,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,191,255,1)), color-stop(100%, rgba(55,144,217,1)));
	background: -webkit-linear-gradient(-45deg, rgba(0,191,255,1) 0%, rgba(55,144,217,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(0,191,255,1) 0%, rgba(55,144,217,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(0,191,255,1) 0%, rgba(55,144,217,1) 100%);
	background: linear-gradient(135deg, rgba(0,191,255,1) 0%, rgba(55,144,217,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bfff', endColorstr='#3790d9', GradientType=1 );
	padding-top: 70px;
	padding-bottom: 50px;
	margin-bottom: 100px;

}

.wrapper{
	display: flex;
	justify-content: space-between;
}

.offer{
	padding-top: 160px;
	width: 600px;
}

span{

	font-size: 60px;
}
.title{
	font-size: 37px;
	color: white;
}

.intro{
	
	color: white;
	padding: 0 0 25px 0;
	width: 400px;
	text-align: left;
	font-weight: normal;
}

.btn{
	background-color: #ffd429;
	color: black;
	padding: 20px ;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	display: block;
	width: 220px;
	font-weight: 900;
	border-radius: 3px;
	transition: all 0.5s;
}

.btn:hover{

	background-color: #dfba28;
	border-radius: 50px;
}



.section_title{

	font-size: 30px;
	text-align: center;
	padding-bottom: 75px;
	font-weight: 500;
}

.learn {
	padding-bottom: 130px;
}

.icon{

	width: 270px;

}

.icone{
	display: flex;
	justify-content: space-between;
}


.icon_img{
	margin-bottom: 30px;
	padding: 0 100px;
	
}
.icon_title{
	text-align: center;
	font-weight: 800;
}

.icon_tex{
	padding-bottom: 75px;
	text-align: center;
	font-weight:
	line-height: 1.6em;
	
}










.mail{
	padding-top: 110px;
	background-color: #ecf3f8;
	padding-bottom: 100px;

}

.form_imput {
	display: block;
	width: 350px;
	margin: 15px auto;
	padding: 25px 0 25px 10px;
	font-size: 15px;
}

.mail_btn{
	width: 350px;
	margin: 0 auto;
	padding: 25px 0;
	padding: 25px 80px;

}



.footer{
	background-color: #164d7a;
}

.footer_tex{
	padding: 40px 0 60px 0;
	text-align: center;
	color: white;
}